{% extends 'base.html'%}
{% block title %}CONTACT {% endblock %}
{% block content %}
  <h2>Contact Page</h2>
  <p>Reach us on:0796400558</p>
  <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut commodi corporis cum dicta eaque earum, eligendi et excepturi fugit maiores maxime natus optio perferendis qui sit tempora totam veniam?</span><span>At, debitis dolorem doloremque earum enim esse excepturi harum illum ipsum libero, molestiae molestias nostrum optio perferendis quam ratione voluptatum? Asperiores blanditiis et minima molestias nostrum, quod recusandae velit voluptates!</span><span>Aliquid culpa eveniet molestias, quae quibusdam rerum voluptatem! Aliquid molestias natus nisi sit? Aperiam asperiores dolore nostrum possimus reprehenderit. Ab culpa dicta dolores eaque ipsa laudantium nam necessitatibus tempora tenetur!</span>
  </p>
{% endblock %}