{% extends 'base.html' %}

{% block title %} SERVICES {% endblock %}

{% block content %}
   <h2>OUR SERVICES</h2>
   <p>These are our services</p>
 <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet dolorumerror in iusto
     laborum laudantium officia provident soluta voluptas! Asperiores doloremque doloribus fugiat ipsa officia praesentium quam recusandae suscipit!</span><span>Facere harum illum neque nisi nobis non perspiciatis ratione vero. Asperiores blanditiis dicta
     eaque facere, impedit, incidunt ipsum iste quam quos repellat, repudiandae sunt voluptatum. Alias quae quos sapiente sed.</span><span>A, adipisci amet aut dicta distinctio dolor eaque
     eum ex excepturi fugit minus neque odio officiis provident, qui quisquam, repellendus saepe? Error eveniet incidunt ipsum officiis reiciendis rerum, tempora ut.</span><span>Assumenda aut commodi, cupiditate delectus fuga inventore iste minima
     obcaecati perferendis, possimus quas quasi repellat tempora ullam vel voluptatem voluptatibus. Animi atque commodi delectus dolores inventore, itaque laudantium minus repellat!</span><span>Accusamus, accusantium aliquid amet aspernatur cumque
     deleniti dolores est ex hic inventore iure laboriosam, mollitia nemo nostrum, numquam odit porro quasi quos sed sint sit temporibus vero voluptas voluptatem voluptatum?</span></p>
{% endblock %}